<h2>Student-list</h2>
<div class="container">         
    <table class="table table-hover"*ngIf='users'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Course Taken</th>
         
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of users'>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phone }}</td>
          <td>{{Available}}</td>
          <td><a [routerLink]="['/user/edit', users.id ]" class="btn btn-info" >Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>

  <div class="container">
    <button type="button" class="btn btn-info btn-block" routerLink="/dialog">STUDENT DIALOG</button>
  </div>
  


